# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/


# ======================
# Virtual Environments
# ======================
venv/
.venv/
env/


# ======================
# IDE
# ======================
.vscode/
.idea/


# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db


# ======================
# Logs
# ======================
*.log


# ======================
# Python Build Files
# ======================
build/
dist/
*.egg-info/


# ======================
# Environment Variables
# ======================
.env
.env.*


# ======================
# Docker
# ======================
*.tar
docker-compose.override.yml


# ======================
# Jenkins
# ======================
jenkins_home/


# ======================
# Terraform
# ======================
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl


# ======================
# Kubernetes
# ======================
*.secret.yaml
kubeconfig


# ======================
# Application Runtime Data
# ======================
uploads/
outputs/


# ======================
# Temporary Files
# ======================
*.tmp
*.bak